<main class="w-full grid justify-items-center">
  <div class="w-100 text-center mt-5">
    <counters-to-guess></counters-to-guess>
    
    @for (guess of guessesService.guesses(); track $index) {
      <guess-component [guesses]="guess" [guessRow]="$index"></guess-component>
    }
  </div>
  <div class="w-100 text-center mt-5">
    @if (guessesService.gameStatus === 'FAILED') {
      <p>GAME OVER</p>
    } @else if (guessesService.gameStatus === 'SUCCESS') {
      <p>WINNER!</p>
    }
  </div>
</main>